/*
===========
CSS Reset
===========
*/
:root {
	color-scheme: light dark;
	--light-gradient: linear-gradient(to right, #8f1e18, #e79529, #35ea35);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

/*

/*
===========
Variables
===========

—BG-COLOR:
—TEXT-COLOR:
—ACCENT-COLOR1:
—ACCENT-COLOR2:

—LARGE-FONT:
—MEDIUM-FONT:
—BODY-FONT:


*/

/*
===========
GENERIC STYLES
===========
*/

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100vh;
	/* height:100%*/
}

/*
===========
TYPOGRAPHY
===========
*/
body {
	font-style: normal;
}

h1 {
	font-size: 38px;
	font-family: "VT323", monospace;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	font-family: "Henny Penny", system-ui;
	font-weight: 700;
}

footer p {
	font-size: 14px;
	font-family: "Henny Penny", system-ui;
}

/*
===========
LAYOUT
===========
*/
body {
	padding: 8% 5%;
	text-align: center;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.light-dark-mode {
	position: absolute;
	top: 10px;
	right: 5px;

	border-style: none;
	color: #c4887a;
}

main {
	/* border: 2px solid saddlebrown; */
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-section {
	/* border: 2px solid magenta;    */

	width: 100%;
	height: 50vh;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.box {
	/* border: 5px solid yellow;  */
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.image-wrapper {
	width: 90px;
	/* border: 2px solid pink; */
}

.dice {
	width: 100%;
}

footer {
	text-align: center;
}

/*
===========
BACKGROUND/IMAGES
===========
*/
/*
===========
COLORS
===========
*/

body {
	background-color: light-dark(#fff, #333);
}

h1 {
	color: light-dark(#e79529, #35ea35);
}
h4 {
	color: light-dark(#5c505c, #f8f1db);
}

button {
	background-color: transparent;
}
footer p {
	background: var(--light-gradient);
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.dark-mode {
	background-color: #333;
	color: white;
}

.dark {
	color: #35ea35;
}

.dark2 {
	color: #debdab;
}

.light {
	color: #f8f1db;
}

/*
=============
ACTIVE-STATES
=============
*/

/*
=====================================
LARGE SCREENS 
=====================================
*/

@media only screen and (min-width: 375px) {
	h1 {
		font-size: 48px;
	}

	h4 {
		font-size: 20px;
	}

	footer p {
		font-size: 10px;
	}

	.main-section {
		gap: 50px;
	}
}

@media only screen and (min-width: 425px) {
	.player1-winIcon {
		top: 106px;
		left: 40px;
		width: 30px;
		height: 30px;
	}

	.player2-winIcon {
		top: 106px;
		right: 45px;
		width: 30px;
		height: 30px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 82px;
	}

	h4 {
		font-size: 28px;
	}

	footer p {
		font-size: 12px;
	}

	.main-section {
		gap: 50px;
	}
}

/* Extra large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 120px;
	}

	h4 {
		font-size: 28px;
	}

	footer p {
		margin-top: 50px;
		font-size: 14px;
	}

	.main-section {
		gap: 65px;
	}

	.image-wrapper {
		width: 200px;
	}
}

@media only screen and (min-width: 1440px) {
	h1 {
		font-size: 160px;
	}

	h4 {
		font-size: 32px;
	}

	footer p {
		font-size: 18px;
	}

	.image-wrapper {
		width: 255px;
	}

	.main-section {
		gap: 65px;
	}
}
